{% extends 'jfood/main.html' %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'Images/about.png' %}" class="img-fluid" alt="Our Team">
    </div>
    <div class="col-md-6 text-white">
      <h2>О нас</h2>
      <p>Наше меню составлено из лучших ингредиентов, которые мы импортируем из Японии, чтобы обеспечить максимальный вкус и качество. Мы готовим нашу еду с любовью и страстью, чтобы каждый наш гость почувствовал уникальность и насладился незабываемым вкусом.</p>
      <p>Мы гордимся своим уютным интерьером и дружелюбной атмосферой, которые помогают нашим гостям расслабиться и насладиться едой. Наша команда профессиональных поваров и официантов готова предложить вам лучший сервис и сделать ваше посещение незабываемым.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 text-white">

    </div>
  </div>





{% endblock %}

